<!DOCTYPE html>
<html>
  <head>
    <title>정보보안 과제4</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="post">
      ID를 입력해주세요<input type="text" name="id">
      Nickname을 입력해주세요<input type="text" name="nickname">
      PW를 입력해주세요<input type="text" name="password">
      <button type="submit">Create</button>
    </form>
    <% if (err) { %> <h1><%= err %></h1> <% } %>
  </body>
</html>
